{
  "root": true,
  "env": {
    "node": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:import/typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "rules": {
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "max-len": [
      "error",
      {
        "code": 150
      }
    ],
    "eol-last": 0
  },
  "ignorePatterns": [
    "**/*.config.js",
    "dist/",
    "node_modules/"
  ]
}